[submodule "lib/lczerolens"]
	path = lib/lczerolens
	url = https://github.com/hyprchs/lczerolens
[submodule "src/training_pipeline/factual-chess-qa-bench"]
	path = src/training_pipeline/factual-chess-qa-bench
	url = https://github.com/hyprchs/factual-chess-qa-bench
